.button {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: getColor("studio-button-text");
  height: 50px;
  width: 200px;
  justify-content: center;
  border: none;
  background: getColor("primary");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  gap: 24px;
  cursor: pointer;

  &__footer-icon {
    fill: getColor("background");
    padding: 0;
  }
}

.button-select {
  background-color: getColor("portfolio-buttons-background");
  height: 38px;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: background-color color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: none;
    background: getColor("primary");
    color: getColor("portfolio-buttons-text-hover");
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-buttons {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 50px;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button-x {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 17px;
  right: 17px;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &__icon {
    display: block;
  }
}
