.card-set {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
  list-style: none;

  &__item {
    width: 450px;

    margin: 0;
    @media screen and (min-width: 768px) {
      width: 270px;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      width: 354px;
    }
  }

  &__icon {
    width: 450px;

    height: 120px;

    @media screen and (min-width: 480px) and (max-width: 768px) {
      width: 354px;
      background-color: getColor(main-div-our-team-background);
    }
    @media screen and (min-width: 768px) {
      width: 270px;
      background-color: getColor(main-div-our-team-background);
    }
  }

  &__header {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    @media screen and (min-width: 480px) and (max-width: 768px) {
      width: 354px;
      height: 65px;
    }
    text-align: left;
    justify-content: center;
    letter-spacing: 0.03em;
    color: getColor("our-team-member-position-text");
  }
}
