body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: getColor("primary-text");
  margin: 0 auto;
  background: getColor("background");
}

.container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  width: 480px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0 20px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container--card-set {
  text-align: center;
}

.container--our-team {
  // width: 100%;
}

.container--our-clients {
  // width: 100%;
}
// @media screen and (max-width: 768px) {
//   .container {
//     background-color: red;
//   }
// }

// @media screen and (max-width: 480px) {
//   .container {
//     background-color: blue;
//   }
// }

// @media screen and (max-width: 590px) {
//   .container {
//     background-color: yellow;
//   }
// }

.container--flex-start-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.flex-row-center {
  display: flex;
  flex-direction: row;

  list-style-type: none;
  padding: 0;
}
