body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: getColor("primary-text");
  margin: 0 auto;
  overflow-x: hidden;
  background: getColor("background");
}

.container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  width: 100vw;
  max-width: 480px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.container--card-set {
  text-align: center;
  padding: 0 15px;
}

.container--flex-start-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  list-style-type: none;
  padding: 0;
}
