.logo {
  padding-left: 15px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  float: left;
  letter-spacing: 0.03em;
  color: getColor("primary");
  line-height: 3.076923076923077;
  text-decoration: none;

  &__a {
    text-decoration: none;
  }

  &__a:visited {
    color: inherit;
  }

  &__header-studio-color {
    color: black;
  }

  &__footer-studio-color {
    color: getColor("background");
  }

  &--footer {
    line-height: 1.19;
    padding-left: 0;
    @media screen and (min-width: 1200px) {
      margin-right: auto;
    }
  }
}
