.section {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0;
  margin: 0;
  background: getColor("section-bg");
  // min-width: 480px;
  @media screen and (min-width: 768px) {
    padding: 94px 0;
  }

  &__banner {
    padding: 118px 0;
    max-width: 480px;

    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/banner_480x400.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    @media (min-resolution: 192dpi),
      (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 2dppx) {
      background-image: url(../images/banner_960x800.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/banner_768x400.jpg);
      max-width: 768px;
    }
    @media screen and (min-width: 768px) and (min-resolution: 192dpi),
      screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-width: 768px) and (min-resolution: 2dppx) {
      background-image: url(../images/banner_1536x800.jpg);
    }
    @media screen and (min-width: 1200px) {
      height: 600px;
      padding: 200px 0;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      background-image: url(../images/banner_1600x600.jpg);
    }
    @media screen and (min-width: 1200px) and (min-resolution: 192dpi),
      screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
      screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-width: 1200px) and (min-resolution: 2dppx) {
      background-image: url(../images/banner_3200x1200.jpg);
    }

    background-position: center;
  }

  &__banner-text {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    max-width: 365px;
    width: 100%;

    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: getColor("section");

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }

  &--our-team {
    background-color: getColor("portfolio-buttons-background");
  }

  &--our-clients {
    background-color: getColor("background");
  }

  &--padding-zero {
    padding: 0;
  }

  &--card-set {
    background-color: getColor("section-2-bg");
  }
}

.container--banner {
  margin: auto;
}
